# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- Data Science Tools

Some of the popular languages that Data Scientists use are:
1. python
2. sql
3. r
4. java

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy

| Data Science Tools | 
| --- | 
| SAS | 
| --- |
| Apache Spark | 
| --- |
| BigML |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author's Name:
Navya Goel